@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Open Sans Condensed", sans-serif;
  }

  body {
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #fffbf7;
  }
}
